.color-char{
  background-image: url("https://www.francetvinfo.fr/pictures/_e5MvZBwaRCTRGqKqARZgj5-ArY/752x423/2016/08/23/shrek-5.jpg");
  //background-color: chartreuse;
  background-repeat: no-repeat;
  background-size: cover;
}