{% extends 'admin/base.html.twig' %}
{% block main %}
    <h1 class="d-flex justify-content-center">Bienvenue {{ app.user.email }} sur notre librairie en ligne, le premier concurrent sérieux d'Amazon.</h1>
{% endblock %}